:root {
  --rich-black: #0d1321;
  --prussian-blue: #1d2d44;
  --electric-blue: #3e5c76;
  --shadow-blue: #748cab;
  --eggshell: #f0ebd8;
}
body {
  background-color: var(--eggshell);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  text-align: center;
}
.scoreBoard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 1rem;
}

.gameBoard {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 8rem);
  grid-template-rows: repeat(3, 8rem);
  gap: 2px;
}

.option {
  border: 1px black solid;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.winBackground {
  background-color: #748cab;
  transition: background-color 1s linear;
}

#circle,
#cross {
  font-size: 7rem;
}

.active {
  box-shadow: var(--prussian-blue) 0px 5px, var(--electric-blue) 0px 10px;
}

.optionBoard,
.inputBoard {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #1d2d44 2px solid;
  padding: 2rem 1rem;
  border-radius: 8px;
  box-shadow: 0.3rem 0.3rem 0 var(--rich-black);
}

.optionBoard button {
  width: 8rem;
  height: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  background-color: aliceblue;
  border-radius: 8px;
  border: 0.1px lightgray solid;
}

button:hover {
  cursor: pointer;
}

.optionBoard button:focus {
  background-color: rgb(218, 237, 254);
}

.boardHeading {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: large;
  text-decoration: underline;
}

.mainController {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.playerInput {
  display: flex;
  flex-direction: row;
}

.inputBoard input {
  height: 1.5rem;
  border: 0.1px solid lightgray;
  border-radius: 8px;
  padding: 2px 4px;
  margin-bottom: 0.5rem;
}

.inputBoard button {
  width: 90%;
  height: 2rem;
  border-radius: 8px;
  border: 0.1px lightgray solid;
  background-color: aliceblue;
  font-weight: bold;
  font-size: medium;
}

.inputBtns {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.invisible {
  display: none;
}
